nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow-lg.p-3.mb-5.bg-white.fixed-top
  .container
    a.navbar-brand(href='#') Start Bootstrap
    button.navbar-toggler(type='button' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='#about') About Us
        li.nav-item
          a.nav-link(href='#') Browse Menu
        li.nav-item
          a.nav-link(href='#visit') Contact